.masonryGrid {
    column-count: 1;
    column-gap: 1.5rem;
}

@media (min-width: 640px) {
    .masonryGrid {
        column-count: 2;
    }
}

@media (min-width: 1024px) {
    .masonryGrid {
        column-count: 3;
    }
}

.masonryItem {
    break-inside: avoid;
    margin-bottom: 1.5rem;
}

.hideScrollbar::-webkit-scrollbar {
    display: none;
}

.hideScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}